{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<section class="jumbotron text-center">
    <h1 class="jumbotron-heading">Who are we?</h1>
    <p class="lead text-muted">
        We are recycling club who started on amazing OBX alternative spring break and continue our duty at Macomb
        Community College.
        <br>
        Our main goal is to save our planet by reusing materials.
    </p>
    <p>
        <a class="btn btn-success" href="">Join Us Today</a>
    </p>
</section>
<div class="container">
    <h1 class="font-weight-light">Core Members</h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-color: #555;">
                <img src="{% static 'card.png' %}" class="d-block w-100" alt="1">
            </div>
            <div class="carousel-item" style="background-color: #777;">
                <img src="{% static 'card.png' %}" class="d-block w-100" alt="1">
            </div>
            <div class="carousel-item" style="background-color: #999;">
                <img src="{% static 'card.png' %}" class="d-block w-100" alt="1">
            </div>
            <div class="carousel-item" style="background-color: #aaa;">
                <img src="{% static 'card.png' %}" class="d-block w-100" alt="1">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
{% endblock %}