{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<section class="jumbotron text-center">
    <h1 class="jumbotron-heading">Who are we?</h1>
    <p class="lead text-muted">
        We are recycling club who started on amazing OBX alternative spring break and continue our duty at Macomb Community College.
        <br>
        Our main goal is to save our planet by reusing materials.
    </p>
    <p>
        <a class="btn btn-success" href="">Join Us Today</a>
    </p>
</section>
{% endblock %}