{% extends 'blog/base.html' %}
{% block content %}
{% if all_announcements %}
<div class="container">
    <h1 class="font-weight-light">Announcements</h1>
    {% for anno in all_announcements %}
    <div class="card mb-1">
        <div class="card-body">
            <h5>{{ anno.title }}</h5>
            {{ anno.body }}
        </div>
      </div>
    {% endfor %}
</div>
{% endif %}
<section class="jumbotron text-center">
    <h1 class="jumbotron-heading">When you refuse to reuse it's our Earth you abuse</h1>
    <p class="lead text-muted">Share your thoughts about recycling with everyone</p>
    {% if user.is_authenticated %}
    <p>
        <a href="{% url 'create_post' %}" class="btn btn-success">Create Discussion</a>
    </p>
    {% endif %}
</section>
<div class="container">
    <h1 class="font-weight-light">Most Recent</h1>
    {% for post in all_posts %}
    <div class="card text-center mb-2">
        <div class="card-header text-right">
            {% if post.user == current_user %}
            Created by you &nbsp;
            <div class="btn-group" role="group" aria-label="Third group">
                <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">X</a>
            </div>
            {% else %}
            Created by {{ post.user }} &nbsp;
            {% endif %}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.body }}</p>
            <a href="{% url 'detail_post' post.id %}" class="btn btn-outline-success btn-block">See Full Discussion</a>
        </div>
        <div class="card-footer text-muted">
            {{ post.time }}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}