{% extends 'blog/base.html' %}
{% block content %}
<div class="container">
    <h1 class="font-weight-light">Deleting Discussion</h1>
    <div class="card mt-4">
        <h5 class="card-header">{{ post.title }}</h5>
        <div class="card-body">
            <h6 class="card-title">Created by {{ post.user }}</h6>
            <p class="card-text">{{ post.body }}</p>
            {% if user.is_authenticated %}
            <form method='POST'>
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-block">Delete</button>
            </form>
            {% endif%}
        </div>
    </div>
</div>
{% endblock %}